[user]
	name = Sergey Kasmy
	email = SleeplessSloth79@gmail.com
	signingkey = DA1761943D726EDF
[alias]
	lg = log --oneline --graph
	lga = log --oneline --all --graph
	exec = "!exec "
[commit]
	gpgsign = true
[core]
	autocrlf = input
